html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
:root {
  --orange: #f7600e;
  --light: #eceeef;
  --dark-gray: #3b434c;
  --black: #0f0f0f;
  --primary: var(--orange);
  --light: var(--var(--light));

  --transitionLink: all 0.2s cubic-bezier(0.72, 0.12, 1, 1);
}
/* navbar */
.navbar {
  padding-top: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-collapse {
  justify-content: flex-end;
  font-size: 1.2em;
  margin-top: -1.2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav a {
  color: var(--primary);
  text-transform: uppercase;
  margin: 0 0.25rem;
  font-weight: bold;
  font-size: 2rem;
  transition: var(--transitionLink);
}
nav a:hover {
  color: var(--light);
  text-decoration-line: line-through;
  text-decoration-color: var(--light);
}
scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* first section */
#first {
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.first {
  margin-top: 4em;
  color: var(--light);
  background: none;
}
.first h2 {
  font-size: 50px;
}
.first h2 span {
  color: var(--primary);
}
.first p {
  font-size: 23px;
  margin: 0 auto;
  width: 63%;
  margin-bottom: 6em;
}
.capitalize {
  text-transform: uppercase;
  font-weight: 600;
}
.btn {
  border: 2px dashed;
  padding: 0.6rem 2.4rem;
  min-width: 165px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: var(--transitionLink);
}
.btn:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
button.btn:focus,
nav a:focus {
  color: var(--primary);
  outline-offset: -4px;
  border-color: transparent;
  outline: 2px dashed var(--primary);
  background: transparent;
}
.navbar-brand:focus {
  outline-offset: 4px;
}

.btn-orange {
  color: var(--light);
  background: var(--primary);
  border-color: var(--primary);
}
.btn-orange:hover {
  color: var(--primary);
  background: transparent;
  border-color: var(--primary);
}

.arrow {
  margin-top: 2rem;
  transition: all 0.2s ease-in;
  will-change: transform;
  cursor: pointer;
}
.arrow-icon:hover {
  opacity: 0.79;
  transform: translateY(2px);
}
.arrow.arrow-up.hidden {
  display: none;
}
.arrow.arrow-up {
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  transform: rotate(180deg);
  background: var(--primary);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  mix-blend-mode: overlay;
}
.arrow-up:hover {
  opacity: 0.79;
  transform: rotate(180deg) translateY(5px);
}

/* second section */
#second,
#third,
#forth {
  color: var(--black);
  text-align: center;
  padding-top: 3em;
}
#second h3 span,
#third h3 span,
#forth h3 span {
  color: var(--primary);
}
.btn-black {
  margin-top: 3em;
  border-color: var(--black);
  background: transparent;
}
#second .btn:hover {
  border-color: var(--primary);
  color: var(--primary);
}
#second p,
#third p:first,
#forth p:first {
  margin: 0 auto;
  width: 63%;
  margin-bottom: 3em;
}
#second img.rounded {
  width: 83%;
  height: auto;
  justify-content: space-around;
}
#second .col-md-4 {
  padding-bottom: 1em;
}
/*  third */
#third {
  padding: 40px 0 80px 0;
}
.team {
  margin-top: 5em;
}
.team p {
  margin: 0 auto;
  width: 63%;
}
.team p.card-text {
  width: 100%;
}
.card {
  display: block;
  margin-bottom: 1em;
  margin-top: 2.5em;
  border: none;
  transition: all 0.2s ease-in;
}
.team .card-img-top {
  filter: grayscale(100%);
  transition: all 0.2s ease-in;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card-img-top {
  filter: none;
  transform: scale(1.05, 1.05);
}
.card:hover .card-title {
  color: var(--primary);
}

@media (max-width: 576px) {
  #third .col-sm-6 {
    width: auto;
    margin: 0 auto;
  }
  .team p.tead {
    font-size: 67%;
  }
}
@media (min-width: 767px) and (max-width: 1176px) {
  #third .col-md-3 {
    max-width: 50%;
    margin: 0 auto;
  }
}
/* forth section */
#forth {
  background: url("../img/bg-contact.jpg") center no-repeat;
  background-size: cover;
  color: var(--light);
}
#forth form {
  padding: 5em 0;
}
form input.form-control:focus,
form textarea.form-control:focus {
  border-color: transparent;
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.3),
    0px 0px 1px 5px #ffa5005e;
}

#forth .lead {
  margin: 0 auto;
  width: 50%;
}
/* footer */
footer {
  background-color: var(--dark-gray);
  padding: 1rem 0;
  color: var(--light);
  font-weight: 300;
}
footer ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  font-size: 75%;
}
footer ul li {
  text-transform: lowercase;
}
footer img {
  width: 75px;
  height: auto;
}
